#botonmenu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 2rem;
    height: 2rem;
    border: 0;
    background: transparent;
    gap: .65rem;
    position: fixed; 
    top: 10px; 
    left: 10px; 
    z-index: 1000;
    cursor: pointer;
    transition: opacity 0.3s ease; 
}

#botonmenu.open{
    opacity: 0;
    pointer-events: none;
}

#botonmenu .menu-line{
    width: 100%;
    height: 2px;
    width: 100%;
    background: black;
    border-radius: 5px;
    transition: all .5s;
    transform-origin: left;
}

#botonmenu:active div:first-child{
    transform: rotate(35deg);
}
#botonmenu:active div:nth-child(2){
    opacity: 0;
}
#botonmenu:active div:last-child{
    transform: rotate(-35deg);
}

#menu.open {
    left: 0;
}
#menu {
    position: fixed;
    top: 0;
    left: -300px; 
    width: 300px;
    height: 100vh;
    background: #f8f9fa;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    transition: left 0.3s ease;
    z-index: 999;
}

.menu-header {
  border-bottom: 1px solid #ddd;
}  

.menu-top-line {
    height: 4px;
    background: #aad500; 
}
.menu-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
  
.menu-title span {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}
  
.close-button {
    background: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #333;
}
  
.close-button:hover {
    color: #000;
}

#menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow-y: auto; /* Habilita el scroll vertical */
    flex-grow: 1; /* Ocupa el espacio restante */
    max-height: calc(100vh - 100px);
}

#menu ul li {
    padding: 15px 20px;
    border-bottom: 1px solid #ddd;
    position: relative; 
    transition: all 0.3s ease; 
}

#menu ul li:hover::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 4px; 
    background-color: #aad500; 
}
#menu ul li:hover {
    box-shadow: 2px 2px 10px rgba(29, 28, 28, 0.1); 
} 

#menu ul li a {
    display: flex;
    align-items: center;
    color: #333;
    text-decoration: none;
    font-size: 16px;
    align-items: center; 
    justify-content: space-between; 
    padding: 15px 10px;
}

.categoria-icon {
    margin-left: 10px;
    font-size: 12px;
    color: #68717d; 
    transition: color 0.3s ease;
}

#menu ul li:hover .categoria-icon {
    color: #aad500; 
}