.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    color: rgb(255, 0, 0);
    padding: 10px 20px;
}

.menu-button, .login-button {
    background: none;
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

.menu-button {
    font-size: 24px;
}
