/* General Header Styling */
.header {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 10px 20px;
    border-bottom: 1px solid #e0e0e0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: Lato, sans-serif;
}

.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    margin-left: 15px;
}

.search-container {
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin: 0 20px;
    max-width: 500px;
}

.search-container input {
    flex: 1;
    padding: 8px 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 20px;
    outline: none;
}

.search-container button {
    background: #333;
    color: white;
    border: none;
    padding: 8px 12px;
    margin-left: -40px;
    border-radius: 50%;
    cursor: pointer;
}

.login-button {
    background-color: #333;
    color: white;
    padding: 8px 16px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

.login-button:hover {
    background-color: #555;
}
