.mini-product-style * {
    margin-bottom: 0px !important; /* Adds vertical space between this and the next container */
  }

  .mini-product-style .product-card {
    padding: 0% !important;
}

.mini-product-style .product-name {
    font-size: 0.8rem !important; /* Example font size, adjust as needed */
  }
  
  .mini-product-style .product-brand {
    font-size: 0.7rem !important;
    margin-top: 10px !important;
  }

  .product-card .product-image{
    width: 100% !important;
    height: 150px !important;
  }

  .mini-product-style .product-seller, .product-header{
    display: none;
  }

  .mini-product-style .product-seller {
    font-size: 0.8rem !important;
  }
  
  .mini-product-style .price-mini-container {
    display: flex !important;
    flex-direction: row !important; /* Align the current-price and discount horizontally */
    align-items: center !important; /* Optional: vertically align them to the center */
  }

  .mini-product-style .view-product-btn {
    font-size: 0.7rem !important;
    outline: 1px solid red !important;
    margin-bottom: 15px !important;
  }

  .mini-product-style .current-price {
    font-size: 0.9rem !important;
    padding-right: 10px !important;
  }
  
  .mini-product-style .discount {
    font-size: 0.7rem !important;
  }
  
  .mini-product-style .original-price {
    font-size: 0.7rem !important;
    text-decoration: line-through;
  }

.product-card {
  display: flex !important;
  flex-direction: column;
}

.product-info {
  padding: 10px !important;
  padding-bottom: 30% !important;
}

.price-container .current-price{
  font-size: clamp(0.5rem, 1.2vw, 0.9rem) !important;
  padding-right:"0px" !important;
  white-space: nowrap;
}

.price-container .discount {
  font-size: clamp(0.5rem, 1vw, 0.7rem) !important;
}

