.reset-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
  }
  
  .reset-card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 520px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: justify;
  }

  .reset-card-title-container {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
  }
  
  .lock-icon {
    width: 40px;
    margin-bottom: 10px;
    margin-right: 10px;
  }
  
  h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .success-message {
    background: #d4edda;
    padding: 10px;
    border-radius: 5px;
    color: #155724;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: flex-start;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
    text-align: left;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .password-container {
    position: relative;
  }
  
  .toggle-password {
    position: absolute;
    right: 10px;
    top: 8px;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .toggle-password img {
    width: 20px;
  }
  
  .password-rules {
    margin-top: 10px;
    list-style: none;
    padding: 0;
    text-align: left;
  }
  
  .password-rules li {
    color: gray;
    font-size: 12px;
  }
  
  .password-rules li.valid {
    color: green;
    font-weight: bold;
  }
  
  button {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    background: #ccc;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:enabled {
    background-color: #343E49;
    cursor: pointer;
    color: #FEFEFF;
  }
  
  .help-text {
    color: #888;
    text-decoration: underline;
    font-size: 12px;
    text-align: center;
    margin-top: 10px;
  }
  
  .help-text a {
    color: #888;
    text-decoration: underline;
  }
  
  ul {
    list-style: disc;
    display: grid;
    grid-template-columns: 1fr 1fr; /* Dos columnas de igual tamaño */
    gap: 8px; /* Espaciado entre elementos */
    list-style-type: disc; 
    padding-left: 20px;
  }
  